@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    XX地点<br />
    XX街XX号<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>支持:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>